<form [formGroup]="form" (change)="onChanges()">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput placeholder="Username" formControlName="username" name="username">
    <mat-icon matSuffix></mat-icon>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" formControlName="name" name="name">
    <mat-icon matSuffix></mat-icon>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" formControlName="email" name="email">
    <mat-icon matSuffix></mat-icon>
  </mat-form-field>
</form>
