:host {
   display: flex;
   flex-direction: column;
   height: 100%;
}

.modal-header {
  height: 40px;
  padding: 5px 10px;
  display: flex;

  background-color: #16a085;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.modal-title {
  height: 40px;
  line-height: 40px;
  margin: 0;
  margin-left: 15px;
}

.modal-content {
  margin: 0;
  padding: 12px;
}

.modal-actions {
  background-color: #34495e;
  color: white;

  margin-top: auto;
  margin-bottom: 0;
  padding: 0 20px;
  justify-content: end;
}

.modal-close {
  height: 40px;
  line-height: 40px;
  margin-left: auto;
}

.modal-submit {
  background-color: #2ecc71;
}

.modal-delete {
  background-color: #e74c3c;
}
