<header class="modal-header">
  <h4 class="modal-title">{{bodyOptions?.title}}</h4>
  <button class="modal-close" mat-button (click)="onClose()" *ngIf="bodyComponentInstance.onClose">X</button>
</header>

<mat-dialog-content class="mat-typography modal-content">
  <div #body></div>
</mat-dialog-content>

<mat-dialog-actions class="modal-actions">
  <button class="modal-delete" mat-button *ngIf="bodyComponentInstance.onPrint">Supprimer</button>
  <button class="modal-submit" mat-button (click)="onSubmit()" *ngIf="bodyComponentInstance.onSubmit">
    {{ bodyActions?.submit?.text || 'Créer' }}
  </button>
</mat-dialog-actions>
