<!--
  <button mat-button [routerLink]="['/vehicles/create']" [queryParams]="createModalParams">Route</button>
<button mat-button [modalLink]="['/vehicles/create']">Directive</button>
-->
<button mat-button (click)="openUserFormModal()">Create</button>
<button mat-button [routerLink]="'/users/create'">Link</button>

<mat-table [dataSource]="dataSource">
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <!--<mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openUserFormModal(row)"></mat-row>-->
  <mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/users/edit', row.id]" [state]="this.row"></mat-row>

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="username">
    <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Real Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
  </ng-container>
</mat-table>
